<!DOCTYPE html>

<html lang="en" data-mdb-theme="light" data-bs-theme="light">

    <head>

      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta name="description" content="">
      <meta name="keywords" content="">


      <!-- Fonts -->
      <link href="https://fonts.googleapis.com" rel="preconnect">
      <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


      <!-- Lib CSS Files -->
      <link href="/static/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="/static/assets/aos/aos.css" rel="stylesheet">
      <link href="/static/assets/swiper/swiper-bundle.min.css" rel="stylesheet">
      <link href="/static/assets/awesome/css/all.min.css" rel="stylesheet">

      <link href="/static/assets/mdb5/css/mdb.min.css" rel="stylesheet">

      <!-- Main CSS File -->
      <link href="/static/css/main.css" rel="stylesheet">
      <link href="/static/favicon.ico" rel="icon">
      <title>X-Portfolio: {% block title %}{% endblock %}</title>

    </head>

    <body>

        {% include 'header.html' %}

        <main class="main">
            {% block main %}{% endblock %}
        </main>

        {% include 'footer.html' %}
      
        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
      
        <!-- Preloader -->
        <div id="preloader"></div>
      
        <!-- Vendor JS Files -->
        <script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
        <script src="/static/assets/aos/aos.js"></script>
        <script src="/static/assets/typed.js/typed.umd.js"></script>
        <script src="/static/assets/purecounter/purecounter_vanilla.js"></script>
        <script src="/static/assets/waypoints/noframework.waypoints.js"></script>
        <script src="/static/assets/swiper/swiper-bundle.min.js"></script>
        <script src="/static/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="/static/assets/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/static/assets/mdb5/js/mdb.umd.min.js"></script>
      
        <!-- Main JS File -->
        <script src="/static/js/main.js"></script>
      

    </body>

</html>
