{% set active_page = 'register' %}

{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
{% include 'flash_message.html' %}
{% block main %}
  <div class="mid_content">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                <h1>Registration Form</h1>
                </div>
            </div>
            </div>
        </div>
    </div><!-- End Page Title -->

    {% if form_errors %}

      <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 alert alert-danger">
            <ul>
              {% for key,value in form_errors.items() %} 
                  <li><b>{{ key|escape }} </b>: {{ value|escape }}</li>
              {% endfor %}
              </ul>
            </div>
        </div>
      </div>
    {% endif %}



    <form action="/register" method="post">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                  
                  
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="form_email" class="form-control" name="email" required/>
          <label class="form-label" for="form_email">Email</label>
          <div class="valid-feedback">Looks good!</div>
        </div>


        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="password" id="form_password" class="form-control" name="password" required/>
              <label class="form-label" for="form_password">Password</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="password" id="form_confirm_password" class="form-control" name="confirm_password" required/>
              <label class="form-label" for="form_confirm_password">Confirm Password</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="form_phone" class="form-control" name="phone" required/>
              <label class="form-label" for="form_phone">Phone</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="date" id="form_birthday" class="form-control" name="birthday" required/>
              <label class="form-label" for="form_birthday">Birthday</label>
            </div>
          </div>
        </div>
    
    
        <!-- Text input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="form_fullname" class="form-control" name="fullname" required/>
          <label class="form-label" for="form_fullname">Full Name</label>
        </div>
      
        <!-- Text input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="form_address" class="form-control" name="address" required/>
          <label class="form-label" for="form_address">Address</label>
        </div>


        <div class="input-group mb-4">
          <div class="input-group-text">
            <label>Sex</label>
          </div>
          <div class="input-group-text form-control">
            <input class="form-check-input" type="radio" name="sex" id="sex_male" value="Male" required/>
            <label class="form-check-label" for="sex_male">Male</label>
          </div>

          <div class="input-group-text form-control">
            <input class="form-check-input" type="radio" name="sex" id="sex_female" value="Female" required/>
            <label class="form-check-label" for="sex_female">Female</label>
          </div>
        </div>

      


          

        <div class="input-group mb-4">
          <div class="input-group-text">
            <label>Degree</label>
          </div>
          <div class="input-group-text form-control">
            <input class="form-check-input" type="radio" name="degree" id="degree_level_1" value="Bachelor's" required/>
            <label class="form-check-label" for="degree_level_1">Bachelor's</label>
          </div>

          <div class="input-group-text form-control">
            <input class="form-check-input" type="radio" name="degree" id="degree_level_2" value="Master's" required/>
            <label class="form-check-label" for="degree_level_2">Master's</label>
          </div>

          <div class="input-group-text form-control">
            <input class="form-check-input" type="radio" name="degree" id="degree_level_2" value="Doctoral" required/>
            <label class="form-check-label" for="degree_level_2">Doctoral</label>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
              <div data-mdb-input-init class="form-outline">
              <input type="integer" id="form_years_of_experience" class="form-control" name="years_of_experience" required value="0"/>
              <label class="form-label" for="form_years_of_experience">Years Of Experience</label>
              </div>
          </div>
          <div class="col">
              <div data-mdb-input-init class="form-outline">
              <input type="integer" id="form_happy_clients" class="form-control" name="happy_clients" required value="0"/>
              <label class="form-label" for="form_happy_clients">Happy Clients Number</label>
              </div>
          </div>
          <div class="col">
              <div data-mdb-input-init class="form-outline">
              <input type="integer" id="form_projects" class="form-control" name="projects" required value="0"/>
              <label class="form-label" for="form_projects">Projects Number</label>
              </div>
          </div>
      </div>


        <div data-mdb-input-init class="form-outline mb-4">
          <input type="textarea" id="form_description" class="form-control" name="description" required/>
          <label class="form-label" for="form_description">Summary About You</label>
        </div>
      
        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-success btn-rounded btn-lg fw-bold btn-block mb-4">Register</button>
    </div>
    </div>
    </div>
    </form>
  </div>
{% endblock %}
