{% set active_page = 'my_profile' %}

{% extends "./layout.html" %}

{% block title %}
Experiences
{% endblock %}
{% include 'flash_message.html' %}
{% block main %}



    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Experiences</h1>
              <p class="mb-0">You can View , Edit , Delete and Add New Experiences..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <section id="experience" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        {% if records %}
        <div class="row gy-4">
          
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Description</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for experience in records %}
                <tr>
                    <td>{{ experience.title }}</td>
                    <td>{{ experience.company }}</td>
                    <td>{{ experience.description }}</td>
                    <td>{{ experience.date_from }}</td>
                    <td>{{ experience.date_to }}</td>
                    
                    <td><button type="button" class="btn btn-success btn-rounded btn-lg fw-bold btn-sm fw-bold" data-bs-toggle="modal"
                            data-bs-target="#edit_experience_{{ experience.id }}">Update</button> 
                    <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" data-bs-toggle="modal"
                            data-bs-target="#delete_experience_{{ experience.id }}">Delete</button></td>
                </tr>


                <!-- EDIT Modal-->
                <div class="modal fade" id="edit_experience_{{ experience.id }}" tabindex="-1" aria-labelledby="Edit Experience" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <b class="modal-title fs-5" id="exampleModalLabel">Edit Experience</b>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="/edit/experiences/{{experience.id}}" method="POST">
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="title" class="col-form-label">Title</label>
                              <input type="text" id="title" class="form-control" name="title" value="{{ experience.title }}" required/>
                            </div>

                            <div class="mb-3">
                              <label for="company" class="col-form-label">Company</label>
                              <input type="text" id="company" class="form-control" name="company" value="{{ experience.company }}" required/>
                            </div>

                            <div class="mb-3">
                              <label for="description" class="col-form-label">Description</label>
                              <input type="text" id="description" class="form-control" name="description" value="{{ experience.description }}" />
                            </div>

                            <div class="mb-3">
                              <label for="date_from" class="col-form-label">Date From</label>
                              <input type="date" id="date_from" class="form-control" name="date_from" value="{{ experience.date_from }}" required/>
                            </div>

                            <div class="mb-3">
                              <label for="date_to" class="col-form-label">Date To</label>
                              <input type="date" id="date_to" class="form-control" name="date_to" value="{{ experience.date_to }}" />
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
                <!-- END EDIT Modal -->



                <!-- Delete Modal -->
                    <div class="modal fade" id="delete_experience_{{experience.id}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <b class="modal-title fs-5" id="exampleModalLabel">Delete Experience</b>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form action="/delete/experiences/{{experience.id}}" method="GET">
                            <div class="modal-body">
                                <div class="form-group row">
                                  <label class="col-sm-12 col-form-label">Do you want to delete  <span
                                          style='font-weight:bold;color:red'>{{experience.title}}</span>
                                      ?</label>

                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-success">Confirm</button>
                            </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  <!-- End Delete Modal-->

                {% endfor %}
            </tbody>
          </table>



        </div>
        {% endif %}
        <br />
        <button type="button" class="btn btn-success btn-rounded btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#insert_experience">Add New Experience</button>


      </div>


      
      <!-- Modal 1 for adding a  -->
      <div class="modal fade" id="insert_experience" tabindex="-1" aria-labelledby="Add Experience" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <b class="modal-title fs-5" id="exampleModalLabel">New Experience</b>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/create/experiences" method="POST">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="title" class="col-form-label">Title</label>
                  <input type="text" id="title" class="form-control" name="title" required/>
                </div>

                <div class="mb-3">
                  <label for="company" class="col-form-label">Company</label>
                  <input type="text" id="company" class="form-control" name="company" required/>
                </div>

                <div class="mb-3">
                  <label for="description" class="col-form-label">Description</label>
                  <input type="text" id="description" class="form-control" name="description" />
                </div>

                <div class="mb-3">
                  <label for="date_from" class="col-form-label">Date From</label>
                  <input type="date" id="date_from" class="form-control" name="date_from" required/>
                </div>

                <div class="mb-3">
                  <label for="date_to" class="col-form-label">Date To</label>
                  <input type="date" id="date_to" class="form-control" name="date_to" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Modal 1 -->

      

    </section><!-- /Contact Section -->

{% endblock %}
