{% set active_page = 'my_profile' %}

{% extends "./layout.html" %}

{% block title %}
Titles
{% endblock %}
{% include 'flash_message.html' %}
{% block main %}



    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Titles</h1>
              <p class="mb-0">You can View , Edit , Delete and Add New Titles..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <section id="title" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        
        {% if records %}
        <div class="row gy-4">
          
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for title in records %}
                <tr>
                    <td>{{ title.name }}</td>
                    <td><button type="button" class="btn btn-success btn-rounded btn-lg fw-bold btn-sm fw-bold" data-bs-toggle="modal"
                            data-bs-target="#edit_title_{{ title.id }}">Update</button> 
                    <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" data-bs-toggle="modal"
                            data-bs-target="#delete_title_{{ title.id }}">Delete</button></td>
                </tr>


                <!-- EDIT Modal-->
                <div class="modal fade" id="edit_title_{{ title.id }}" tabindex="-1" aria-labelledby="Edit Title" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <b class="modal-title fs-5" id="exampleModalLabel">Edit Title</b>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="/edit/titles/{{title.id}}" method="POST">
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="name" class="col-form-label">Name</label>
                              <input type="text" id="name" class="form-control" name="name" value="{{ title.name }}" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
                <!-- END EDIT Modal -->



                <!-- Delete Modal -->
                    <div class="modal fade" id="delete_title_{{title.id}}" tabindex="-1" aria-labelledby="basicModal" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <b class="modal-title fs-5" id="exampleModalLabel">Delete Title</b>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form action="/delete/titles/{{title.id}}" method="GET">
                            <div class="modal-body">
                                <div class="form-group row">
                                  <label class="col-sm-12 col-form-label">Do you want to delete  <span
                                          style='font-weight:bold;color:red'>{{title.name}}</span>
                                      ?</label>

                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-success">Confirm</button>
                            </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  <!-- End Delete Modal-->

                {% endfor %}
            </tbody>
          </table>



        </div>
        {% endif %}
        <br />
        <button type="button" class="btn btn-success btn-rounded btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#insert_title">Add New Title</button>


      </div>


      
      <!-- Modal 1 for adding a skill -->
      <div class="modal fade" id="insert_title" tabindex="-1" aria-labelledby="Add Title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <b class="modal-title fs-5" id="exampleModalLabel">New Title</b>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/create/titles" method="POST">
              <div class="modal-body">
                  <div class="mb-3">
                    <label for="name" class="col-form-label">Name</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Developer" required/>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Modal 1 -->

      

    </section><!-- /Contact Section -->

{% endblock %}
