{% if user.interests or session["user_id"] %}
  <!-- Interests Section -->
  <section id="interests" class="interests section">
    
      {% if user.interests %}
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Features</h2>
            <div><span>I'm</span> <span class="description-title">interested in</span></div>
          </div><!-- End Section Title -->
    
          <div class="container">
    
            <div class="row gy-4">
              {% for interest in user.interests %}
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="features-item">
                    <h3>{{ interest.name }}</h3>
                  </div>
                </div>
              {% endfor %}
            </div>
    
          </div>
        

        {% elif session["user_id"] %}
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Features</h2>
            <div><span>I'm</span> <span class="description-title">interested in</span></div>
          </div><!-- End Section Title -->
    
          <div class="container">
              <a href="/get/profile/interests">
                <button type="button" class="btn btn-success btn-rounded btn-lg fw-bold">
                  Add Interests <i class="bi bi-arrow-right"></i>
                </button>
              </a>
    
          </div>
        {% endif %}
    
  </section><!-- /Interests Section -->
{% endif %}